
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.modal {
    /* display: none; */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.modal input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

.submit-btn {
    width: 45%;
    padding: 10px;
    margin-top: 10px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.cancel-btn {
    width: 45%;
    padding: 10px;
    margin-top: 10px;
    background-color: #2bbeb2;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* .open-modal-btn {
    background-color: #3498db;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
} */

@media (max-width: 600px) {
    .modal {
        width: 80%;
    }
}