{% load static %}
{% load allauth %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="{% static 'css/styles.css'%}">
</head>
<body>

<!-- Button to open the modal -->
<!-- <a href="#" class="open-modal-btn" onclick="openModal()">Open Login Form</a> -->

<!-- The Modal -->
{% block content %}  {% endblock %}
<div id="loginModal" class="modal">
    {% if loginform.errors %}
    {% for field in loginform %}
    {% for error in field.errors %}
        {{error }}
    {% endfor %}
    {% endfor %}

    {% endif %}
    <h2>Login Form</h2>
    <form action="{% url 'login' %}" method="post" autocomplete="off">
        {% csrf_token %}

        {{loginform.as_p}}

        <!-- <input type="text" placeholder="Username" required name="username"> -->
        <!-- <input type="username" placeholder="Username" required name="{{loginform.username}}">
        <input type="password" placeholder="Password" required name="{{loginform.password}}"> -->
        <button type="submit" class="submit-btn">Login</button>
        <button type="button" class="cancel-btn" onclick="closeModal()">Cancel</button>
    </form>
  <div class="container" >
    {% load allauth socialaccount %}
    {% get_providers as socialaccount_providers %}
    {% for provider in socialaccount_providers %}
   
    


      <a href="{% provider_login_url provider process=login auth_params=auth_params  %}">{{provider.name}} </a>
      
   
    {% endfor %}
    <p>Or</p>
  <a href="{% provider_login_url 'google' %}">Sign up with Google</a>

    <!-- {% load allauth socialaccount %}
    {% get_providers as socialaccount_providers %}
    {% if socialaccount_providers %}
        {% element provider_list %}
            {% for provider in socialaccount_providers %}
                {% if provider.id == "openid" %}
                    {% for brand in provider.get_brands %}
                        {% provider_login_url provider openid=brand.openid_url process=process as href %}
                        {% element provider name=brand.name provider_id=provider.id href=href %}
                        {% endelement %}
                    {% endfor %}
                {% endif %}
                {% provider_login_url provider process=process scope=scope auth_params=auth_params as href %}
                {% element provider name=provider.name provider_id=provider.id href=href %}
                {% endelement %}
            {% endfor %}
        {% endelement %}
    {% endif %} -->
</div>
    <div class="container">
        <a href="{% url 'reset_password' %}">Reset Password</a>
    </div>
</div>



<script src="{% static 'js/login.js' %}">

</script>

     
       
</body>
</html>
